/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 22, 2017, 11:01:58 PM
    Author     : Debasish
*/

html{
    height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(to bottom right,#16222a 40%,#3a6073);
    height: 100%;
}
#topbarbg{
    position: absolute;
    left: 0px;
    top: 50px;
    background-color: #33665C;
    opacity: 0.5;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.btn2{
    position: relative;
    z-index: 3;
    height: 25px;
    border: 1px solid grey;
    background: linear-gradient(#F6DB5F,yellow);
    margin-bottom: 12px;
    border-radius: 4px;
    text-align: center;
    font-family: "Calibri";
    font-size: 16px;
    color: black;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 10px;
    cursor: pointer;
}

.btn2:hover
{
    border:1px solid #eeeeee;
    box-shadow: aqua 0px 0px 10px;
    color: blue;
}


#black_flight{
    position:relative;
    width: 300px;
    height: 115px;
    background-image: url("../images/black_flight.png");
    z-index: 2;
    top: 20px;
}



#container{
    position: relative;
    width: 900px;
    height: 400px;
    border: solid 1px black;
    border-radius: 10px;
    overflow:auto;
    background-color: rgba(255,255,255,0.5);
}