body{
    
    font-family: "Calibri";
    background-image: url("../images/airplane.jpg");    
}

header { border:1px black solid; }

#loginbox
{
    width: 400px;
    border: solid 1px blue;
    border-radius: 10px;
    background-color: white;
    box-shadow: black 0px 0px 10px;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn1
{
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: black 0px 0px 2px;
    background: linear-gradient(skyblue,black);
    color: white;
    font-weight: bold;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.btn1:hover
{
    background: linear-gradient(red,brown);
    color: black;
}

